### All are ML algorithym i will build on the top of this dataset. after that i will select best one of them algorithm.

In [3]:
# All are necessary libraries and classes are importing

import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import lazypredict
from lazypredict.Supervised import LazyClassifier
from lazypredict.Supervised import LazyRegressor
import joblib
import pickle
import warnings
warnings.filterwarnings('ignore')

In [110]:
pd.set_option('display.max_rows',None)

In [4]:
scaled_data = pd.read_csv('Data/final_scaled_data.csv')
scaled_data.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
0,0.27,0,0.01,1,0,1,0,0.28,0,0,0,0,0,2,1442.00
1,0.55,1,0.00,1,0,1,1,0.30,1,0,0,0,0,2,2965.00
2,0.84,0,0.00,1,0,1,0,0.28,0,0,0,1,0,2,806.00
3,0.84,0,0.00,1,0,1,1,0.17,1,0,0,0,0,2,2807.00
4,0.21,0,0.00,1,0,1,1,0.35,1,0,0,1,0,2,3434.00

In [28]:
without_scaled_data = pd.read_csv('Data/final_without_scaled_data.csv')
without_scaled_data.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
0,23.00,0,4.10,1,0,1,0,110.47,0,0,0,0,0,2,1442.00
1,46.00,1,0.98,1,0,1,1,120.00,1,0,0,0,0,2,2965.00
2,70.00,0,0.16,1,0,1,0,110.47,0,0,0,1,0,2,806.00
3,70.00,0,0.72,1,0,1,1,70.00,1,0,0,0,0,2,2807.00
4,18.00,0,0.03,1,0,1,1,141.00,1,0,0,1,0,2,3434.00

In [29]:
df = without_scaled_data[without_scaled_data['age']<84]
df.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
0,23.00,0,4.10,1,0,1,0,110.47,0,0,0,0,0,2,1442.00
1,46.00,1,0.98,1,0,1,1,120.00,1,0,0,0,0,2,2965.00
2,70.00,0,0.16,1,0,1,0,110.47,0,0,0,1,0,2,806.00
3,70.00,0,0.72,1,0,1,1,70.00,1,0,0,0,0,2,2807.00
4,18.00,0,0.03,1,0,1,1,141.00,1,0,0,1,0,2,3434.00

In [30]:
df[df['labels']==1]

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
26,25.00,0,0.30,1,0,1,0,110.47,0,0,0,0,0,1,185.00
54,77.00,1,2.00,1,0,1,1,111.00,1,0,0,0,0,1,942.00
85,31.00,0,1.30,1,0,1,1,121.00,1,0,0,0,0,1,3656.00
94,26.00,0,2.00,1,0,1,1,84.00,1,0,0,0,0,1,343.00
119,23.00,0,0.02,1,0,1,1,83.00,1,0,0,0,0,1,2668.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3603,38.00,0,0.50,1,0,1,1,94.00,1,0,0,0,0,1,646.00
3622,34.00,0,5.09,0,0,1,1,75.00,1,0,0,1,0,1,1801.00
3669,30.00,0,1.10,1,1,1,1,96.00,1,0,0,0,0,1,1540.00
3689,27.00,0,2.20,1,1,1,1,78.00,1,0,0,0,0,1,1302.00
3708,26.00,0,0.20,1,1,1,1,96.00,1,0,0,1,0,1,1769.00

In [10]:
scaled_data.shape

(3682, 15)

In [12]:
df.shape

(3682, 15)

## Model Building with Lazypredict on scaling data,
    lazypredict is a python which is used for as like the survey. to get 
    general overview of  our model building in a fews steps. it will train all the 
    models on the specific dataset. and gives the accuracy,precision,recall as an output

In [65]:
scaled_data.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
0,0.27,0,0.01,1,0,1,0,0.28,0,0,0,0,0,2,1442.00
1,0.55,1,0.00,1,0,1,1,0.30,1,0,0,0,0,2,2965.00
2,0.84,0,0.00,1,0,1,0,0.28,0,0,0,1,0,2,806.00
3,0.84,0,0.00,1,0,1,1,0.17,1,0,0,0,0,2,2807.00
4,0.21,0,0.00,1,0,1,1,0.35,1,0,0,1,0,2,3434.00

In [66]:
x = scaled_data.drop(['labels','continues_target'],axis = 1)
y = scaled_data['labels']

In [67]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [68]:
lazyclasifier = LazyClassifier(verbose=0,ignore_warnings=True,custom_metric=accuracy_score)

In [69]:
models , predictions = lazyclasifier.fit(x_train,x_test,y_train,y_test)

100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:07<00:00,  4.02it/s]

### result of models by lazypredict

In [70]:
models1 = pd.DataFrame(models)
models1

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,accuracy_score,Time Taken
Model,,,,,,
NearestCentroid,0.42,0.53,None,0.59,0.42,0.02
GaussianNB,0.18,0.45,None,0.30,0.18,0.02
BaggingClassifier,0.98,0.41,None,0.97,0.98,0.09
DecisionTreeClassifier,0.94,0.40,None,0.95,0.94,0.03
PassiveAggressiveClassifier,0.88,0.40,None,0.92,0.88,0.02
SVC,0.98,0.39,None,0.97,0.98,0.27
SGDClassifier,0.98,0.39,None,0.97,0.98,0.02
RidgeClassifierCV,0.98,0.39,None,0.97,0.98,0.02
RidgeClassifier,0.98,0.39,None,0.97,0.98,0.02
LinearDiscriminantAnalysis,0.98,0.39,None,0.97,0.98,0.03
CalibratedClassifierCV,0.98,0.39,None,0.97,0.98,2.48
BernoulliNB,0.98,0.39,None,0.97,0.98,0.01
LinearSVC,0.98,0.39,None,0.97,0.98,0.59
Perceptron,0.98,0.39,None,0.97,0.98,0.03
ExtraTreeClassifier,0.95,0.38,None,0.95,0.95,0.02
LogisticRegression,0.98,0.37,None,0.97,0.98,0.06
RandomForestClassifier,0.98,0.37,None,0.97,0.98,0.39
AdaBoostClassifier,0.97,0.37,None,0.97,0.97,0.22
LabelSpreading,0.97,0.37,None,0.97,0.97,0.67
LGBMClassifier,0.97,0.37,None,0.97,0.97,0.47
ExtraTreesClassifier,0.97,0.37,None,0.96,0.97,0.37
QuadraticDiscriminantAnalysis,0.17,0.36,None,0.25,0.17,0.02
LabelPropagation,0.97,0.35,None,0.96,0.97,0.50
KNeighborsClassifier,0.97,0.35,None,0.96,0.97,0.08
DummyClassifier,0.98,0.33,None,0.96,0.98,0.02
XGBClassifier,0.97,0.33,None,0.96,0.97,0.70

### Lazypredict model on without scaling data

In [25]:
x = without_scaled_data.drop(['labels','continues_target'],axis = 1)
y = without_scaled_data['labels']

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
lazyclasifier2 = LazyClassifier(verbose=0,ignore_warnings=True,custom_metric=accuracy_score)

In [27]:
models2 , predictions2 = lazyclasifier2.fit(x_train,x_test,y_train,y_test)

'tuple' object has no attribute '__name__'
Invalid Classifier(s)

100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:07<00:00,  4.11it/s]

In [29]:
pd.DataFrame(models2)

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
Perceptron,0.92,0.43,None,0.93,0.03
BaggingClassifier,0.95,0.39,None,0.95,0.09
KNeighborsClassifier,0.96,0.38,None,0.95,0.08
RandomForestClassifier,0.96,0.38,None,0.95,0.37
NearestCentroid,0.35,0.38,None,0.51,0.02
XGBClassifier,0.95,0.38,None,0.95,0.67
SVC,0.96,0.37,None,0.95,0.24
LinearSVC,0.96,0.37,None,0.95,0.58
BernoulliNB,0.96,0.37,None,0.95,0.02
CalibratedClassifierCV,0.96,0.37,None,0.95,2.45
RidgeClassifierCV,0.96,0.37,None,0.95,0.02
RidgeClassifier,0.96,0.37,None,0.95,0.02
LinearDiscriminantAnalysis,0.96,0.37,None,0.95,0.04
LogisticRegression,0.96,0.37,None,0.95,0.06
LabelPropagation,0.96,0.37,None,0.95,0.51
LabelSpreading,0.96,0.37,None,0.95,0.67
AdaBoostClassifier,0.96,0.37,None,0.95,0.21
ExtraTreesClassifier,0.96,0.37,None,0.95,0.33
LGBMClassifier,0.95,0.37,None,0.95,0.44
ExtraTreeClassifier,0.94,0.36,None,0.94,0.01
DecisionTreeClassifier,0.91,0.35,None,0.92,0.03
SGDClassifier,0.96,0.33,None,0.94,0.03
DummyClassifier,0.96,0.33,None,0.94,0.01
GaussianNB,0.17,0.33,None,0.29,0.03
PassiveAggressiveClassifier,0.96,0.33,None,0.94,0.03
QuadraticDiscriminantAnalysis,0.16,0.31,None,0.24,0.02

### top 5 models which are trained on this data

In [35]:
models1.sort_values(by = 'Balanced Accuracy',ascending=False)[0:5]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,accuracy_score,Time Taken
Model,,,,,,
Perceptron,0.92,0.43,None,0.93,0.92,0.03
BaggingClassifier,0.95,0.39,None,0.95,0.95,0.10
KNeighborsClassifier,0.96,0.38,None,0.95,0.96,0.10
RandomForestClassifier,0.96,0.38,None,0.95,0.96,0.37
NearestCentroid,0.35,0.38,None,0.51,0.35,0.00

## Model Building with Hyperparameter turning on scaled data

In [122]:
model_and_parameter ={

"Logistic_Regression" :{
                        "model" : LogisticRegression(),
                        "param" : {'penalty':['l1', 'l2', 'elasticnet'],
                                    'solver' : ['newton-cg', 'lbfgs', 'liblinear']}
                       },

"Decision_Tree" :{
                        "model" : DecisionTreeClassifier(),
                        "param" : {'criterion' : ["gini", "entropy","log_loss"],
                                  'splitter' : ["best", "random"],
                                  'max_depth':range(4,16,1),
                                  'min_samples_leaf':range(2,8,1),
                                  'min_samples_split':range(2,8,1)}
                                  
                 },

"SVC" : {
                        "model" : SVC(),
                        "param" : {'C' :[1.0],
                                   'kernel' : ['linear', 'poly', 'rbf'],
                                   'gamma': ['scale','auto']}
                                  
       },

"KNeighborsClassifier" : {
                        "model" : KNeighborsClassifier(),
                        "param" : {'n_neighbors' : [3,5,7,9],
                                  'algorithm' : ['auto', 'ball_tree', 'kd_tree', 'brute'],
                                  'metric':['euclidian','minkowski']}
                                   
                        },

"GaussianNB" :  {
                    "model" : GaussianNB(),
                    "param" : {}
                 },


"RandomForestClassifier" :{
                    "model" : RandomForestClassifier(),
                    "param" : {'criterion' : ["gini", "entropy"],
                            'n_estimators' : [80,100,120,135,150],
                            'max_depth':range(4,16,1),
                            'min_samples_leaf':range(1,8,1),
                            'min_samples_split':range(2,8,1)
                              }
                      },

 "AdaBoostClassifier" :{
                    "model" : AdaBoostClassifier(),
                    "param" : {'n_estimators' : [10,50,100],
                                'learning_rate':[1.0,0.02,0.04,0.4],}
                      },

"GradientBoostingClassifier" :{
                    "model" : GradientBoostingClassifier(),
                    "param" : {'n_estimators' : [10,50,100],
                              'learning_rate':[1.0,0.02,0.04,0.4],
                              'criterion' : ['friedman_mse', 'squared_error', 'mse'], 
                              'min_samples_split':range(3,7,1),
                              'min_samples_leaf':range(1,7,1),
                              'max_depth':range(3,6,1)}
                      },

"XGBClassifier" :{
                    "model" : XGBClassifier(),
                    "param" : {}
}

}

### due to more computation power required ,i skipped some of them hyperparameters

In [4]:
model_and_parameter ={

"Logistic_Regression" :{
                        "model" : LogisticRegression(),
                        "param" : {'penalty':['l1', 'l2', 'elasticnet'],
                                    'solver' : ['newton-cg', 'lbfgs', 'liblinear']}
                       },

"Decision_Tree" :{
                        "model" : DecisionTreeClassifier(),
                        "param" : {'criterion' : ["gini", "entropy","log_loss"],
                                  'splitter' : ["best", "random"],
                                  'max_depth':range(4,16,1),
                                  'min_samples_leaf':range(2,8,1),
                                  'min_samples_split':range(2,8,1)}
                                  
                 },

"SVC" : {
                        "model" : SVC(),
                        "param" : {'C' :[1.0],
                                   'kernel' : ['linear', 'poly', 'rbf'],
                                   'gamma': ['scale','auto']}
                                  
       },

"KNeighborsClassifier" : {
                        "model" : KNeighborsClassifier(),
                        "param" : {'n_neighbors' : [3,5,7,9],
                                  'algorithm' : ['auto', 'ball_tree', 'kd_tree', 'brute'],
                                  'metric':['euclidian','minkowski']}
                                   
                        },

"GaussianNB" :  {
                    "model" : GaussianNB(),
                    "param" : {}
                 },


"RandomForestClassifier" :{
                    "model" : RandomForestClassifier(),
                    "param" : {'criterion' : ["gini", "entropy"],
                            'n_estimators' : [80,100,120,135,150]
                            
                              }
                      },

 "AdaBoostClassifier" :{
                    "model" : AdaBoostClassifier(),
                    "param" : {'n_estimators' : [10,50,100],
                                'learning_rate':[1.0,0.02,0.04,0.4],}
                      },

"GradientBoostingClassifier" :{
                    "model" : GradientBoostingClassifier(),
                    "param" : {'n_estimators' : [10,50,100],
                             }
                      },

"XGBClassifier" :{
                    "model" : XGBClassifier(),
                    "param" : {}
}

}

### Train test split on scaled data

In [3]:
scaled_data.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick,labels,continues_target
0,0.27,0,0.01,1,0,1,0,0.28,0,0,0,0,0,2,1442.00
1,0.55,1,0.00,1,0,1,1,0.30,1,0,0,0,0,2,2965.00
2,0.84,0,0.00,1,0,1,0,0.28,0,0,0,1,0,2,806.00
3,0.84,0,0.00,1,0,1,1,0.17,1,0,0,0,0,2,2807.00
4,0.21,0,0.00,1,0,1,1,0.35,1,0,0,1,0,2,3434.00

In [4]:
len(scaled_data.columns)

15

In [5]:
x = scaled_data.drop(['labels','continues_target'],axis = 1)
y = scaled_data['labels']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
x_train.shape

(2945, 14)

In [ ]:
# By the gridsearchCV

Scores = []
for model_name ,model_param in model_and_parameter.items():
    gs = GridSearchCV(model_param['model'],model_param['param'],cv = 5,return_train_score=False)
    gs.fit(x_train,y_train)
    Scores.append({'Model': model_name,
                 'Best_Score' : gs.best_score_,
                 'Best_Parameter' : gs.best_params_})
    best_model_of_algo = gs.best_estimator_
    joblib.dump(best_model_of_algo,'models/ML_models/'+model_name+str(int(round(gs.best_score_,2)*100))+'.lb')     # to save the best model of algorithm

In [74]:
model_info = pd.DataFrame(Scores,columns=['Model','Best_Score','Best_Parameter'])
model_info.sort_values(by='Best_Score',ascending=False)

,Model,Best_Score,Best_Parameter
7,GradientBoostingClassifier,0.95,{'n_estimators': 50}
1,Decision_Tree,0.95,"{'criterion': 'gini', 'max_depth': 14, 'min_sa..."
0,Logistic_Regression,0.95,"{'penalty': 'l1', 'solver': 'liblinear'}"
2,SVC,0.95,"{'C': 1.0, 'gamma': 'scale', 'kernel': 'linear'}"
6,AdaBoostClassifier,0.95,"{'learning_rate': 1.0, 'n_estimators': 10}"
3,KNeighborsClassifier,0.95,"{'algorithm': 'auto', 'metric': 'minkowski', '..."
8,XGBClassifier,0.95,{}
5,RandomForestClassifier,0.95,"{'criterion': 'gini', 'n_estimators': 80}"
4,GaussianNB,0.13,{}

In [13]:
model_info.sort_values(by='Best_Score',ascending=False).iloc[0,2]        # best parameter

{'criterion': 'entropy',
 'max_depth': 9,
 'min_samples_leaf': 6,
 'min_samples_split': 5,
 'splitter': 'random'}

### Prediction & model evaluation

In [15]:
x_train.head()

,age,sex,TSH,TSH measured,pregnant,TT4 measured,T4U measured,FTI,FTI measured,I131 treatment,psych,on thyroxine,sick
1001,0.23,1,0.01,0,0,1,0,0.28,0,0,0,0,0
2493,0.84,1,0.00,1,0,1,1,0.26,1,0,0,0,0
1284,0.93,0,0.00,1,0,0,0,0.28,0,0,0,0,0
1151,0.51,0,0.00,1,0,1,1,0.46,1,0,0,1,0
3201,0.82,0,0.01,1,0,1,1,0.23,1,0,0,0,0

In [16]:
x_train.columns

Index(['age', 'sex', 'TSH', 'TSH measured', 'pregnant', 'TT4 measured',
       'T4U measured', 'FTI', 'FTI measured', 'I131 treatment', 'psych',
       'on thyroxine', 'sick'],
      dtype='object')

In [13]:
dtc = joblib.load('models\ML_models\KNeighborsClassifier95.lb')       #load the model
y_pred = dtc.predict(x_test)

In [14]:
y_pred

array([2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [38]:
accuracy_score(y_test,y_pred)           ## good accuracy on testing data

0.9782903663500678

In [18]:
confusion_matrix(y_test,y_pred)

array([[  0,   0,   1],
       [  0,   3,  14],
       [  0,   1, 718]], dtype=int64)

In [39]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.75      0.18      0.29        17
           2       0.98      1.00      0.99       719

    accuracy                           0.98       737
   macro avg       0.58      0.39      0.42       737
weighted avg       0.97      0.98      0.97       737

In [22]:
pd.DataFrame(y_pred)[0].value_counts()

2    733
1      4
Name: 0, dtype: int64

In [25]:
pd.DataFrame(y_test)['labels'].value_counts()

2    719
1     17
0      1
Name: labels, dtype: int64

In [49]:
XGBC = joblib.load('models/ML_models/')

In [51]:
pred2 = XGBC.predict(x_test)

In [33]:
accuracy_score(y_test,pred2)

0.9674355495251018

In [30]:
pd.DataFrame(y_test)['labels'].value_counts()

2    719
1     17
0      1
Name: labels, dtype: int64

In [29]:
pd.DataFrame(pred2)[0].value_counts()

2    731
1      6
Name: 0, dtype: int64

In [31]:
lgr = joblib.load('models/ML_models/Logistic_Regression95.lb')

In [32]:
pred3 = lgr.predict(x_test)

In [34]:
accuracy_score(y_test,pred3)

0.9769335142469471

In [35]:
pd.DataFrame(y_test)['labels'].value_counts()

2    719
1     17
0      1
Name: labels, dtype: int64

In [36]:
pd.DataFrame(pred3)[0].value_counts()

2    734
1      3
Name: 0, dtype: int64

### model  building completed,
this data was not in a linearFashion that,s why i got the maximum accuracy <br>
by the DecissionTreeClassifier. so i am selecting this model for the final model.